%fill-gray {
    border: 1px solid #ddd;
    background-color: #efefef;
    color: #666;    
}

$gray-bg  : #efefef;
$gray-border : #ddd;
$gray-text : #666;

.button {
    position: relative;
    outline: none; 
    cursor: pointer; 
    padding: 4px 10px;
    margin: 1px 2px;
    border-radius: 3px;
    transition: background-color .6s ease;
    overflow: hidden;
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform-style: flat;
        transform: translate3d(-50%,-50%,0);
        background: #fff;
        opacity: 0.2;
        border-radius: 100%;
        transition: width .2s ease, height .2s ease;
    }
    &:active {
        &:after {
        width: 200%;
        height: 200%;
        }
    }

    @extend %fill-gray;
}

.button:first-of-type {
    margin-left:0;
}

.button:hover {
    background-color: #ddd;
    border-color: #ccc;
    text-decoration: none;
}

.button:disabled {
    background-color: #eee;
    color: #888;
    cursor: not-allowed;
}

.button:active {
    transition: 0.8s;
}

.medium {
    padding : 7px 10px;
}

.large {
    padding : 11px 20px;
}

.outline {
    background-color: transparent !important;
}

.icon {
    padding: 7px;

    &.medium {
        padding:12px;
    }

    &.large {
        padding:18px;
    }

    &.text {
        padding-left: 5px;
    }

    &.text > i {
        margin-right: 5px;
    }
}

.round {
    border-radius: 50%;
}

.blue {
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    color: #fff;
}

.blue.outline {
    border-color : #337ab7;
    color: #2e6da4;
}

.blue:hover {
    background-color: #286090; 
    border:1px solid #204d74; 
    text-decoration: none;
}

.red {
    background-color: #d9534f;
    border: 1px solid #d43f3a;
    color: #fff;
}

.red.outline {
    border-color : #d9534f;
    color: #d43f3a;
}

.red:hover {
    background-color: #c9302c; 
    border:1px solid #ac2925;
}

.green {
    background-color: #66cc66;
    border: 1px solid #4cae4c;
    color: #fff;
}

.green.outline {
    border-color : #66cc66;
    color: #4cae4c;
}

.green:hover {
    background-color: #449d44; 
    border:1px solid #398439;
}

.orange {
    background-color: #ec8564;
    border: 1px solid #ea7049;
    color: #fff;
}

.orange.outline {
    border-color : #ec8564;
    color: #ea7049;
}

.orange:hover {
    background-color: #ea7049; 
    border:1px solid #f76f44;
}

.yellow {
    background-color: #f0ad4e;
    border: 1px solid #eea236;
    color: #fff;
}

.yellow.outline {
    border-color : #f0ad4e;
    color: #eea236;
}

.yellow:hover {
    background-color: #ec971f; 
    border:1px solid #ec971f;
}