input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.inputDiv {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    margin: 1px 2px;
    border: 1px solid #DEE4E7;
    background-color: #FAFDFF;
    border-radius: 2px;

    width: 200px;
    height: 24px;

    &.stretch {
        width: 100%;
    }

    &:focus-within {
        // outline: none;
        border-color: #4487ca !important;
        -webkit-box-shadow: 0 0 3px #4487ca !important;
        box-shadow: 0 0 3px #4487ca !important;
    }

    &.error {
        border-color: #e8a9a7;
        -webkit-box-shadow: 0 0 2px #e8a9a7;
        box-shadow: 0 0 2px #e8a9a7;
    }
    
    &.success {
        border-color: #8bd88b;
        -webkit-box-shadow: 0 0 2px #8bd88b;
        box-shadow: 0 0 2px #8bd88b;
    }

    .prepend {
        flex: 0 0 auto;
        padding: 0 5px;
        min-width: 24px;
        height: 24px;
        line-height: 24px;
        background-color: #eee;
        text-align: center;
        font-size: 0.8em;
        color: #888;
        border-right: 1px solid #ddd;
    }

    input {
        flex: 1 1 auto;
        width: 0;
        height: 22px;
        padding: 1px 5px;
        color: #444;
        background-color: transparent;
        border: none;
        outline: none !important;

        &::placeholder {
            color: #aaa;        
        }

        &:disabled {
            cursor: not-allowed;
            background-color: #efefef;
            color:#888;
        }
    }

    .append {
        flex: 0 0 auto;
        padding: 0 5px;
        min-width: 24px;
        height: 24px;
        line-height: 24px;
        background-color: #eee;
        text-align: center;
        font-size: 0.8em;
        color: #888;
        border-left: 1px solid #ddd;
    }

    .hidden {
        display: none;
    }
}

.medium {
    width: 250px;
    height: 30px;

    input {
        height: 28px;
        font-size: .9em;
    } 

    .prepend, .append {
        min-width: 36px;
        height: 30px;
        line-height: 30px;
        font-size: .9em;
    }
}

.large {
    width: 300px;
    height: 36px;

    input {
        height: 34px;
        font-size: .9em;
    }

    .prepend, .append {
        min-width: 42px;
        height: 36px;
        line-height: 36px;
        font-size: .9em;
    }
}